DEBUG=False
SECRET_KEY=CHANGE_SK

SITE_HOST=0.0.0.0
SITE_PORT=8888
IS_SECURE=False

USE_MONGO=True
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB_NAME=chat

MONGO_MESSAGE_COLLECTION=messages
MONGO_USER_COLLECTION=users
MONGO_ROOM_COLLECTION=rooms

TEMPLATES=templates
STATIC=static
MEDIA=media

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
