DEBUG=False
SECRET_KEY=CHANGE_SK

SITE_HOST=0.0.0.0
SITE_PORT=8888

USE_MONGO=True
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB_NAME=chat

MONGO_MESSAGE_COLLECTION=messages
MONGO_USER_COLLECTION=users

TEMPLATES=templates
STATIC=static

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
