{% extends "base.html" %}
{% block title %}Chat{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ static('/css/chat.css') }}">
    <div id="passed-data" data-room-id="{{ chat.id }}" data-user-id="{{ user.id }}"></div>
    <div class="card card-default">
        <div class="card-body" id="message-container-id">

        </div>
        <div class="card-body">
            <div class="input-group">
              <span class="input-group-btn">
                    <input type="file" id="file-field-id" name="file">
                    <button class="btn btn-secondary" type="button" id="submit-file-button-id">File</button>
              </span>
                <input id="text-input-id" type="text" class="form-control" placeholder="Type your message"
                       aria-label="Type your message">
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" id="submit-button-id">Send</button>
              </span>
            </div>
        </div>
    </div>


{% endblock content %}
{% block js %}
    {{ super() }}
    <script src="{{ static('/js/chat.js') }}"></script>
{% endblock js %}
