{% extends "base.html" %}
{% block title %}Chat{% endblock %}
{% block content %}
    <style>
        /* Chat containers */
        .message-container {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
        }

        /* Darker chat container */
        .darker {
            border-color: #ccc;
            background-color: #ddd;
        }

        /* Clear floats */
        .message-container::after {
            content: "";
            clear: both;
            display: table;
        }

        /* Style images */
        .message-container img {
            float: left;
            max-width: 60px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

        /* Style the right image */
        .message-container img.right {
            float: right;
            margin-left: 20px;
            margin-right: 0;
        }

        /* Style time text */
        .time-right {
            float: right;
            color: #aaa;
        }

        /* Style time text */
        .time-left {
            float: left;
            color: #999;
        }
    </style>
    <div id="passed-data" data-room-id="{{ chat.id }}" data-user-id="{{ user.id }}"></div>
    <div class="card card-default">
        <div class="card-body" id="message-container-id">

        </div>
        <div class="card-body">
            <div class="input-group">
              <span class="input-group-btn">
                    <input type="file" id="file-field-id" name="file">
                    <button class="btn btn-secondary" type="button" id="submit-file-button-id">File</button>
              </span>
                <input id="text-input-id" type="text" class="form-control" placeholder="Type your message"
                       aria-label="Type your message">
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" id="submit-button-id">Send</button>
              </span>
            </div>
        </div>
    </div>


{% endblock content %}
{% block js %}
    {#    {{ super() }}#}
    {#    TODO: move to file (there's some bug with loading js after changing)#}
    <script {#  main.js  #}>
        let ws = new WebSocket('ws://0.0.0.0:8888/ws/chat');
        let counter = $('#message-counter-id');
        ws.onmessage = (data) => {
            data = JSON.parse(data.data);
            handle_message(data);
        };
        ws.onclose = (data) => {
            console.log(data)
        };
        let handle_message = (data) => {
            if (data.event == 'get_messages') {
                insert_messages(data);
            }
            if (data.event == 'new_message') {
                _insert_message(data.data.from_user_id, data.data.from_user_first_name, data.data.text, data.data.created, data.data.file);
            }
        };
    </script>

    <script {#  chat.js #}>
        let chat_id = $('#passed-data').attr('data-room-id');
        let user_id = $('#passed-data').attr('data-user-id');
        let input = $('#text-input-id');
        let file_field = $('#file-field-id');
        let submit_button = $('#submit-button-id');
        let submit_file_button = $('#submit-file-button-id');
        let message_container = $('#message-container-id');

        function getBase64(file) {
            return new Promise((resolve, reject) => {
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                    resolve(reader.result.split(',')[1]);
                };
                reader.onerror = function (error) {
                    reject(error);
                };
            });
        }

        submit_button.click(() => {
            let text = input.val();
            let data = {
                'action': 'add_message',
                'room_id': chat_id,
                'text': text
            };
            ws.send(JSON.stringify(data));
            input.val('');
        });
        submit_file_button.click(() => {
            let file = file_field[0].files[0];
            getBase64(file).then((base64_data) => {
                let data = {
                    'action': 'add_file',
                    'room_id': chat_id,
                    'file_data': {
                        'content': base64_data,
                        'file_name': file.name,
                    }
                };
                console.log(data);
                ws.send(JSON.stringify(data));
                input.val('');
                file_field.val('');
            });

        });
        ws.onopen = () => {
            ws.send(JSON.stringify({
                'action': 'get_messages',
                'limit': 100,
                'offset': 0,
                'room_id': chat_id
            }))
        };
        let _insert_message = (message_user_id, user_name, text, time, file) => {
            let file_url_string = '';
            let darker = "";
            let image_class = "left";
            let time_class = "right";
            if (message_user_id == user_id) {
                darker = "darker";
                image_class = "right";
                time_class = "left";
            }
            if (file){
               file_url_string = `<a href="${file}" target="_blank">file</a>`
            }
            let date = new Date(time * 1000);
            let hours = date.getHours();
            let minutes = "0" + date.getMinutes();
            let seconds = "0" + date.getSeconds();
            let formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);


            let insert_string = `<div class="message-container ${darker}">
                                    <img src="https://tracker.moodle.org/secure/thumbnail/30912/_thumb_30912.png" alt="${user_name}" class="${image_class}">
                                    <p>${text}</p>
                                    ${file_url_string}
                                    <span class="time-${time_class}">${formattedTime}</span>
                                 </div>`;
            message_container.append(insert_string);
        };
        let insert_messages = (data) => {
            data.data.sort((first, second) => {
                return first > second;
            });
            for (let i in data.data) {
                _insert_message(data.data[i].from_user_id,
                    data.data[i].from_user_first_name,
                    data.data[i].text,
                    data.data[i].created,
                    data.data[i].file);
            }
        };

    </script>
{% endblock js %}
